
.flashes {
    padding: 5px;
    margin: 5px;
    background-color: green;
    list-style-type: none;
}

table, tr {
    table-layout: fixed;
    border-collapse: collapse;
    border-radius: 150px;
}

.alert-warning {
    background-color: rgba(255, 197, 197, 1);
}

.alert-success {
    background-color: #bdfdbd;
}

form {
    width: 30vw;
    margin-right: auto;
    margin-left: auto;
    border: black solid 1px;
    border-radius: 10px;
    padding: 20px;
}



.menu{
    position: fixed;
    display: flex;
    flex-direction: row;
    
    background-color:#212529 ;
    align-items: center;
    width: 100%;
    z-index: 10;
    top:0px;
    height: 3.5em;
}

h3, h2, h1{
    text-align: center;
}

body{
    padding-top: 3.5rem;
}

.btn-add{
    display: block;
    margin-left: 50vw;
    transform: translateX(-50%);
}

.btn{
    height: auto;
    width: auto;
}
.dropdown{
    margin-left: 10px;
    margin-right: 10px;

}

