.flashes {
    padding: 5px;
    margin: 5px;
    background-color: green;
    list-style-type: none;
}

table, tr {
    table-layout: fixed;
    border-collapse: collapse;
    border-radius: 150px;
}

.alert-warning {
    background-color: rgba(255, 197, 197, 1);
}

.alert-success {
    background-color: #bdfdbd;
}

form {
    width: 30vw;
    margin-right: auto;
    margin-left: auto;
    border: black solid 1px;
    border-radius: 10px;
    padding: 20px;
}

.menu{
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: center;
   background-color:#212529 ;
    width: 100%;
    z-index: 10;
    top:0px;
}

h3, h2, h1{
    text-align: center;
}

body{
    padding-top: 3rem;
}

.btn-add{
    display: block;
    margin-left: 50vw;
    transform: translateX(-50%);
}

.btn{
    height: auto;
    width: auto;
}
.dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown a:hover {background-color: #ddd;}
  
  .show {display: block;}