
.flashes {
    padding: 5px;
    margin: 5px;
    background-color: green;
    list-style-type: none;
}

table, tr {
    table-layout: fixed;
    text-align: center;
}

.alert-warning {
    background-color: rgba(255, 197, 197, 1);
}

.alert-success {
    background-color: #bdfdbd;
}

form {
    width: 30vw;
    margin-right: auto;
    margin-left: auto;
    border: black solid 1px;
    border-radius: 10px;
    padding: 20px;
}



.menu{
    position: fixed;
    display: flex;
    flex-direction: row;
    
    background-color:#212529 ;
    align-items: center;
    width: 100%;
    z-index: 10;
    top:0px;
    height: 3.5em;
}

h3, h2, h1{
    text-align: center;
}

body{
    padding-top: 3.5rem;
}

.btn-add{
    display: block;
    margin-left: 50vw;
    transform: translateX(-50%);
}

.btn{
    height: auto;
    width: auto;
}
.dropdown{
    margin-left: 10px;
    margin-right: 10px;

}





.group{
    text-align: center;
    color: black;
    vertical-align: middle;
    width: 100%;
    height: auto;
    display: inline-block;
}

.right-group{
    padding: 2px 6px 2px 2px;
    border-radius: 0px 6px 6px 0px;
    background-color: #bec4c9;
    float: left;
    width: auto;
    height: 100%;
    vertical-align: middle;
}

.left-group{
    height: 100%;
    padding: 2px 2px 2px 6px;
    width:auto;
    float: left;
    border-radius: 6px 0px 0px 6px;
    background-color: #f0ebeb;
    float:left;
    vertical-align: middle;
    left:100%;
}
td{
    text-align: center;
  }

td{
    height: 50px;
    vertical-align: middle;
    padding: auto;
}

hr {
    color:black;
    overflow: visible;
    text-align: center;
    height: 5px;
}
  
#Etudiant  hr:after {
    background: #ffffff;
    content: 'Etudiant';
    padding: 0 4px;
    position: relative;
    top: -13px;
}

#Velo  hr:after {
background: #ffffff;
content: 'Velo';
padding: 0 4px;
position: relative;
top: -13px;
}

#Contrat  hr:after {
    background: #ffffff;
    content: 'Contrat';
    padding: 0 4px;
    position: relative;
    top: -13px;
}

#Etudiant, #contrat_velo{
    margin: 20px;
    display: inline-block;
}

.Contrat{
    display: flex;
    justify-content:center;
    flex-direction: row;
    border: black 1px solid;
    border-radius: 30px;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
}

.input-container input {
    display: inline-block;
    width: 48%; /* Largeur de chaque input */
    margin-right: 4px; /* Marge entre les inputs */
  }
