<nav class="menu">
  
  <div class="dropdown">
    <button class="btn btn-dark dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
      Contrat (Audrick)
    </button>
    <ul class="dropdown-menu dropdown-menu-dark">
      <li><a class="dropdown-item" href="/contrat/show">Afficher les contrats</a></li>
      <li><a class="dropdown-item" href="/contrat/etat">État</a></li>
    </ul>
  </div>
  <div class="dropdown">
    <button class="btn btn-dark dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
      Etudiant (Gaël)
    </button>
    <ul class="dropdown-menu dropdown-menu-dark">
      <li><a class="dropdown-item" href="/etudiant/show">Afficher les étudiants</a></li>
      <li><a class="dropdown-item" href="/etudiant/etat">État</a></li>
    </ul>
  </div>
  <div class="dropdown">
    <button class="btn btn-dark dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
      Réparation (Mattéo)
    </button>
    <ul class="dropdown-menu dropdown-menu-dark">
      <li><a class="dropdown-item" href="/reparation/show">Afficher les réparations</a></li>
      <li><a class="dropdown-item" href="/reparation/etat">État</a></li>
    </ul>
  </div>
</nav>


