{% extends 'index.html' %}

{% block title %}
    <title>Afficher l'Etat</title>
{% endblock %}

{% block body %}


    <form method="get" action="/contrat/etat " style="position: fixed; top:53vh;left:80vw; width:38vw; transform: translateY(-50%) translateX(-50%); background-color: white">
        <fieldset>
            <legend>Trouver les contrats correspondant à certains critères</legend>
            <label for="idContrat" class="form-label">ID du contrat: </label>
            <select name="idContrat" class="form-select" id="idContrat" value="{{ request.form.idContrat }}" style="width:230px">
                <option value="" disabled selected>Choisissez un contrat</option>
                {% for contrat in contrats %}
                    <option value="{{ contrat.idContrat }}"> {{ contrat.idContrat }} </option>
                {% endfor %}
            </select><br>
            <label for="idVelo" class="form-label">ID du velo: </label>
            <select name="idVelo" class="form-select" id="idVelo" style="width:230px">
                <option value="" disabled selected>Choisissez un velo</option>
                {% for velo in velos %}
                    <option value="{{ velo.id }}"> {{ velo.id }} </option>
                {% endfor %}
            </select><br>
            <label for="idEtudiant" class="form-label">Etudiant:</label>
            <select name="idEtudiant" class="form-select" id="idEtudiant" style="width:250px">
                <option value="" disabled selected>Choisissez un etudiant</option>
                {% for etudiant in etudiants %}
                    <option value="{{ etudiant.id }}"> {{ etudiant.nom }} {{ etudiant.prenom }} (id: {{ etudiant.id }})</option>
                    {% endfor %}
            </select><br>
            <div class="input-container">
                Date entre: 
                <input id="dateDebut" type="date" name="dateDebut" value="" placeholder="Saisir la date minimum" class="form-control" style="width:150px;"> 
                et 
                <input id="dateFin" type="date" name="dateFin" value="" placeholder="Saisir la date maximum" class="form-control" style="width:150px">
            </div>
            <br>
            <input type="submit" value="Chercher" name="Valider" class="btn btn-dark" >
        </fieldset>
    </form>
    <br>
    <div id="contrat_list" style="width:60vw">
        {% if contrats | length >= 1 %}

            {% if contrats | length > 1 %}
                <h3>Il y a {{ contrats | length }} contrats correspondant aux filtres</h3>
            {% else %}
                <h3>Voici le seul contrat correspondant</h3>
            {% endif %}

            {% for contrat in contrats %}

                <div class="Contrat">
                    <div id="contrat_velo" style="width: 30%;">
                        <div id="Contrat">
                            <hr>
                            <table class="table table-striped-columns" style="width: 100%;">
                                <tr>
                                    <td>ID</td>
                                    <td>{{contrat.idContrat}}</td>
                                </tr>
                                <tr>
                                    <td>Date début</td>
                                    <td>{{contrat.dateDebut}}</td>
                                </tr>
                                <tr>
                                    <td>Date fin</td>
                                    <td>{{contrat.dateFin}}</td>
                                </tr>
                            </table>
                        </div>

                        <div id="Velo">
                            <hr>
                            <table class="table table-striped-columns">
                                <tr>
                                    <td>ID</td>
                                    <td>{{contrat.idVelo}}</td>
                                </tr>
                                <tr>
                                    <td>Type Velo</td>
                                    <td>{{contrat.typeVelo}}</td>
                                </tr>
                                <tr>
                                    <td>Caution</td>
                                    <td>{{contrat.caution}} €</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div id="Etudiant" style="width:50%; float: left;">
                        <hr>
                        <table class="table table-striped-columns">
                            <tr>
                                <td>Nom</td>
                                <td>{{contrat.nom}}</td>
                            </tr>
                            <tr>
                                <td>Prénom</td>
                                <td>{{contrat.prenom}}</td>
                            </tr>
                            <tr>
                                <td>N°de téléphone</td>
                                <td>{{contrat.telephone}}</td>
                            </tr>
                            <tr>
                                <td>Email</td>
                                <td>{{contrat.email}}</td>
                            </tr>
                            <tr>
                                <td>Formation</td>
                                <td>{{contrat.formation}}</td>
                            </tr>
                            <tr>
                                <td>Etablissement</td>
                                <td>{{contrat.etablissement}}</td>
                            </tr>
                        </table>
                    </div>

                </div>
        {% endfor %}
    {% else %}
        <h3>Aucun contrats correspondant aux filtres</h3>
    {% endif %}
    

{% endblock %}