{% extends 'index.html' %}

{% block title %}
    <title>Ajouter un étudiant</title>
{% endblock %}

{% block body %}
    <h2>Ajout d'un etudiant</h2>
    {% if error %}
        <p class=error><strong>Error:</strong> {{ error }}
    {% endif %}
    <form method="post" action="/etudiant/add">
        <fieldset>
            <legend> Ajouter un étudiant</legend>

            <label for="nomEtudiant">Nom de l'étudiant</label><br>
            <input id="nomEtudiant" type="text" name="nomEtudiant" placeholder="Saisissez le nom de l'étudiant" required><br><br>
            <label for="prenomEtudiant">Prénom de l'étudiant</label><br>
            <input id="prenomEtudiant" type="text" name="prenomEtudiant" placeholder="Saisissez le prénom de l'étudiant" required><br><br>
            <label for="emailEtudiant">Email de l'étudiant</label><br>
            <input id="emailEtudiant" type="email" name="emailEtudiant" placeholder="Saisissez l'email" required><br><br>
            <label for="telephoneEtudiant">Téléphone de l'étudiant</label><br>
            <input id="telephoneEtudiant" type="tel" name="telephoneEtudiant" placeholder="Saisissez le téléphone" required><br><br>
            <label for="idcomposante">Formation :</label><br>
            <select name="idComposante" required class="form-select" id="idComposante">
                <option value="" disabled selected>Choisissez une formation</option>
                {% for composante in composantes %}
                    <option value="{{ composante.id_formation }}"> {{ composante.nom_formation }} (id: {{ composante.id_formation }})</option>
                    {% endfor %}
            </select><br>
            <label for="idEtablissement">Établissement :</label><br>
            <select name="idEtablissement" required class="form-select" id="idEtablissement">
                <option value="" disabled selected>Choisissez un établissement</option>
                {% for etablissement in etablissements %}
                    <option value="{{ etablissement.id_etablissement }}"> {{ etablissement.nom_etablissement }} (id: {{ etablissement.id_etablissement }})</option>
                    {% endfor %}
            </select><br>

            <input type="submit" value="Ajouter" name="Valider" class="btn btn-dark">
        </fieldset>
    </form>
{% endblock %}