{% extends 'index.html' %}

{% block title %}
    <title>Suppression d'Étudiant - Détails</title>
{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h3 class="mb-4">Étudiant - Détails avant suppression</h3>

        {% if contrats %}
            <h5>L'étudiant est lié aux contrats suivants :</h5>
            <table class="table table-dark table-striped">
                <thead>
                    <tr>
                        <th>Contrat ID</th>
                        <th>Date début</th>
                        <th>Date fin</th>
                    </tr>
                </thead>
                <tbody>
                    {% for contrat in contrats %}
                        <tr>
                            <td>{{ contrat.id_contrat }}</td>
                            <td>{{ contrat.date_debut }}</td>
                            <td>{{ contrat.date_fin }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}

        {% if etudiants %}
            <h5>Les informations sur l'étudiant :</h5>
            <table class="table table-dark table-striped">
                <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Prénom</th>
                        <th>Email</th>
                        <th>Téléphone</th>
                    </tr>
                </thead>
                <tbody>
                    {% for etudiant in etudiants %}
                        <tr>
                            <td>{{ etudiant.nomEtudiant }}</td>
                            <td>{{ etudiant.prenomEtudiant }}</td>
                            <td>{{ etudiant.emailEtudiant }}</td>
                            <td>{{ etudiant.telephoneEtudiant }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}

        <p class="mt-3">Vous ne pouvez pas supprimer l'étudiant {{ etudiants[0].nomEtudiant }} {{ etudiants[0].prenomEtudiant }} tant qu'il est lié à ce(s) contrat(s).</p>

        <a class="btn btn-dark btn-add mt-3" href="/etudiant/show" style="width: auto">Retour au menu Étudiant</a>
    </div>
{% endblock %}
